
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 86%;
    background-color: #fff;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.head {
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    color: rgb(119, 115, 115);
    text-align: center;
    background: rgb(244, 242, 242);
    border-radius: 8px 8px 0 0;
}

.form {
    box-sizing: border-box;
    padding: 10px 0;
}

.btns {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.btns :global(.nut-button) {
    width: 40%;
    border-radius: 6px;
}